{% extends "expense/base.html" %}

{% block body %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <form class="shadow-lg rounded-lg p-10 bg-white w-full max-w-3xl" method="post">
    {% csrf_token %}
    <div class="space-y-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Expense Name -->
        <div id="form-name" class="flex flex-col">
          <label for="{{ expense_form.name.id_for_label }}" class="block mb-2 font-semibold">
            Expense Name
          </label>
          <div class="border rounded-lg px-3 py-2">
            {{ expense_form.name }}
          </div>
        </div>

        <!-- Amount -->
        <div id="form-amount" class="flex flex-col">
          <label for="{{ expense_form.amount.id_for_label }}" class="block mb-2 font-semibold">
            Amount
          </label>
          <div class="border rounded-lg px-3 py-2">
            {{ expense_form.amount }}
          </div>
        </div>

        <!-- Price -->
        <div id="form-price" class="flex flex-col">
          <label for="{{ expense_form.price.id_for_label }}" class="block mb-2 font-semibold">
            Price
          </label>
          <div class="border rounded-lg px-3 py-2">
            {{ expense_form.price }}
          </div>
        </div>

        <!-- Category -->
        <div id="form-category" class="flex flex-col">
          <label for="{{ expense_form.category.id_for_label }}" class="block mb-2 font-semibold">
            Category
          </label>
          <div class="border rounded-lg px-3 py-2">
            {{ expense_form.category }}
          </div>
        </div>
      </div>

      <!-- Adding space above the button -->
      <div class="mt-6 flex justify-end">
        <button type="submit" class="bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out">
          Add
        </button>
      </div>
    </div>
  </form>

  <div>
    <div class="space-x-25"></div>
    <div class="shadow-lg rounded-lg">
        <div class="expense-header flex flex-wrap space-x-20 font-bold">
          <span>Name</span>
          <span>Category</span>
          <span>Amount</span>
          <span>Price</span>
          <span>Date</span>
          <span></span>
          <span></span>
        </div>    
    </div>

    <hr class="10">
    
    {% for expense in expenses %}
      <div class="expense-row shadow-lg rounded-lg flex-wrap px-10 py-5">
        <span>{{ expense.name }}</span>
        <span>{{ expense.category }}</span>
        <span>{{ expense.amount }}</span>
        <span>${{ expense.price }}</span>
        <span>{{ expense.date }}</span>
        <span><a href="{% url 'edit' expense.id %}" class="bg-blue-500 hover:bg-pink-700 px-5 py-2 text-white font-bold rounded-lg transition duration-200 ease-in-out">Edit</a></span>
        <span><form method="post" action="{% url 'delete' expense.id %}">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 hover:bg-red-700 px-5 py-2 text-white font-bold rounded-lg transition duration-200 ease-in-out">
                    Delete
                </button>
            </form>
        </span>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}